/*big tablet to 1200px: */
@media only screen and (max-width:1200px){
    html{
        font-size:16px;
    }
    .heading-main-box{
        transform:translate(-35%,-50%);
    }
    .product-box{
        width:80%;
        margin-left: 20px;
    }
    form{
        margin-left: 30%;
    }
}
/* Small tablet from 768px to 1023px */
@media only screen and (max-width:1023px){
    .logo{
        width: 300px;
        margin-left:30px;
    }
    .main-nav{
        margin-right:15px;
        margin-top:40px;
    }
    .main-nav li{
        margin-right: 15px;
    }
    .heading-main-box{
        transform: translate(-50%,-50%);
        width: 75%;
    }
    .product-box{
        width: 500px;
        font-size: 13px;
        height: 300px;
    }
    .product-box .btn{
        width: 80%;
        margin-left: 20px;
    }
    .logo-sponsor{
        width: 115px;
    }
    .real{
        margin-right: 45px;
    }
    .bayen{
        margin-left:30px;
    }
    .social-icons li {
        margin-left:10px;
    }
    .infomation i{
        display: block;
    }
    .infomation li{
        font-size:14px;
    }
}   
/* small phones to small tablets */
@media only screen and (max-width:767px){
    .col{
        width: 100%;
    }
    .main-nav{
        visibility:hidden;
    }
    .logo{
        width: 350px;
        margin-left: 15%;
    }
    h1{
        font-size: 200%;        
    }
    .heading-main-box .btn{
        width: 160px;
    }
    .about-picture img{
        width:70%;
    }
    .about-picture{
        text-align: center;
    }
    .about-section .row .p-long{
        font-size:18px;
    }
    .about-picture .picture-title{
        font-size:19px;
    }
    .couser{
        flex-direction: column;
    }
    .product-box{
        width:320px;
        margin-bottom: 30px;
        margin-left: 45px;
    }
    .product-box .btn{
         margin-left: 35px;
    }
    .testimonials-section .row .col{
        margin-bottom: 45px;
    }
    figcaption{
        visibility: hidden;
    }
    form{
        width: 70%;
        margin-left: 15%;
    }
    label{
        margin-left:35%;   
    }
    .infomation{
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
    }

    .social-icons{
        text-align: center;
        font-size:20px;
        margin-bottom: 20px;
    }
}
/*small phone fromm 0 to 480px */
@media only screen and (max-width:480px){
    HTML{
        font-size: 12px;
    }
    .heading-main-box .btn{
        margin-bottom:10px;
    }
    .logo{
        width: 250px;
        margin-top:2px;
    }
    .product-box{
        width:200px;
        margin-bottom: 30px;
        margin-left: 30px;
    }   
     .product-box .btn{
         margin-left: 20px;
    }
    input[type=submit]{
        width: 100px;
    }
}
